<form action = "/users" method = "post" accept-charset = "UTF-8" >
<label for = "name">Name</label>
<input type = "text" name = "Name" id = "name">
<label for = "email">Email </label>
<input type = "email" name = "Email" id = "email">
<label for = "password">Password</label>
<input type = "password" name = "Password" id ="password">
<input type = "submit" value = "Submit">
</form>